# Simulation artefacts
sim/output/
*.vvp
*.out
*.vcd
*.fst
*.lxt2

# Build/tmp
build/
*.log
*.dump
*.verilog
*.elf
*.map

# Verilator lint outputs
obj_dir/

# Editor / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# TinyRISCV local test artefacts
sw/tinyriscv/tests/example/*/dhry*
